.ListButton{
    width: 90%;
    height: 60px;
    border: 1px solid var(--container-light);
    border-radius: 2px;
    color: var(--white);
    background: none;
}
.ListButton:hover{
    color: var(--theme);
}