.AddressCreateContainer{
    border: 1px solid var(--container-border);
    border-radius: 5px;
    padding: 25px;
    background: linear-gradient(
        0deg, 
        rgba(50,50,50,0.5) 0%,
        rgba(50,50,50,1) 100%
    ),
    url("../assets/GUI/diagonal_pattern.svg");
    height: 100%;
    color: var(--white);
}

tr {
    border-bottom: 1px solid var(--white);
}

td {
    color: var(--white);
    padding-top: 20px;
    padding-right: 20px;
    font-family: Inter, sans-serif;
}

.Button, .ButtonDisabled {
    border: 2px solid var(--grey);
    background-color: var(--grey);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin: 10px;
}
.Button:hover {
    border: 2px solid var(--grey);
    color: var(--theme);
    box-shadow: none;
}
.ButtonDisabled

.Anchor {
    text-decoration: underline;
    color: var(--theme);
}
.Anchor:hover {
    color: var(--white);
}

.FormControl {
    background-color: rgba(0,0,0,0);
    color: var(--white);
    border-radius: 0px;
    border: none;
    border-bottom: 1px none var(--container-light);
}
.FormControl:focus {
    background-color: rgba(0,0,0,0);
    color: var(--theme);
    border-bottom: 1px none var(--theme);
    box-shadow: none;
}
.FormControl:hover {
    border-bottom: 1px none var(--theme);
    box-shadow: none;
}
.FormControl::placeholder {
    color: rgb(150, 150, 150);
}

.SaveButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.DropDownButton {
    border: 1px none rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    min-width: 100%;
    text-align: left;
    padding: 5px;
    padding-left: 15px;
}
.DropDownButton:hover {
    color: rgb(255, 175, 100);
}

.DropDownContainer {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
}

.DrowndownItem {
    color: rgb(200, 200, 200);
}
.DrowndownItem:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 175, 100);
}