.AddressPageContainer{
    border: 2px dashed var(--container-border);
    max-height: 100%;
    display: flex;
    /* min-width 601px */
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 1.0s ease;
}

.ListContainer,
.CrudContainer{
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 20px;
    width: 50%;
}
.ListContainer{
    margin-right: 10px;
}
.CrudContainer{
    margin-left: 10px;
    max-height: 100vh;
    transition: max-height 0.25s ease-out;
    box-shadow: 0px 0px 15px 0px var(--container-border);
}
.CrudContainer.NotVisible{
    max-height: 0;
}
.NoCrudAction{
    border: 1px solid var(--container-border);
    border-radius: 5px;
    height: 100%;
    padding: 25px;
    background: linear-gradient(
        0deg, 
        rgba(50,50,50,0.5) 0%,
        rgba(50,50,50,1) 100%
    ),
    url("../assets/GUI/diagonal_pattern.svg");
    box-shadow: 0px 0px 15px 0px var(--container-border);
    color: var(--white);
}

.AddressHeaderDiv{
    height: 20%;
}
.AddressListDiv{
    height: 80%;
    background: linear-gradient(
        0deg, 
        rgba(50,50,50,0.5) 0%,
        rgba(50,50,50,1) 100%
    ),
    url("../assets/GUI/diagonal_pattern.svg");
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.CreateButton{
    width: 90%;
    height: 60px;
    margin-top: 20px;
    border: 1.5px solid var(--container-light);
    border-radius: 1px;
    color: var(--white);
    background: none;
}
.CreateButton:hover{
    border: 1.5px solid var(--theme);
    color: var(--theme);
    background-color: rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    .AddressPageContainer{
        border: none;
        flex-direction: column;
    }
    .ListContainer,
    .CrudContainer{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .CrudContainer{
        margin-top: 10px;
        height: 200vh;
        box-shadow: none;
    }
}
