.GamepadTestContainer{
    position: relative;
    width: 500pt;
    height: 400pt;
}
.BodySVG{
    position: absolute;
    top: 0pt;
    left: 0pt;
    z-index: -1;
    fill: var(--container-black);
    stroke: var(--container-border);
    stroke-width: 3pt;
}
.FaceDownSVG,
.FaceRightSVG,
.FaceLeftSVG,
.FaceUpSVG,
.LSVG,
.RSVG,
.LTSVG,
.RTSVG,
.LeftMenuSVG,
.RightMenuSVG,
.DPadUpSVG,
.DPadDownSVG,
.DPadLeftSVG,
.DPadRightSVG{
    position: absolute;
    top: 0pt;
    left: 0pt;
    z-index: 1;
/*    fill: var(--void);*/
    stroke: var(--container-border);
    stroke-width: 3pt;
}

table{
    background-color: var(--container-black);
    border: 1px solid var(--container-border);
}
td{
    padding: 10px;
    border: 1px solid var(--container-border);
    text-align: center;
}

.ButtonStateFalse{
    color: var(--white);
}
.ButtonStateTrue{
    color: var(--theme);
}
.ButtonStateSVGTrue{
    fill: var(--theme);
}
.ButtonStateSVGFalse{
    fill: var(--void);
}

.JoystickContainer{
    background-color: var(--container-black);
    border: 1px solid var(--container-border);
    padding: 10px;
    width: 200pt;
}

.AnalogSVGConainer{
    background-color: var(--container-black);
    border: 1px solid var(--container-border);
    border-radius: 100%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.AnalogSVGStroke{
    stroke: var(--theme);
    stroke-width: 2px;
}