.GamepadTestContainer{
    position: relative;
    width: 500pt;
    height: 400pt;
}
.BodySVG{
    position: absolute;
    top: 0pt;
    left: 0pt;
    z-index: -1;
    fill: var(--container-black);
}
.FaceDownSVG,
.FaceRightSVG,
.FaceLeftSVG,
.FaceUpSVG,
.LSVG,
.RSVG,
.LTSVG,
.RTSVG,
.LeftMenuSVG,
.RightMenuSVG,
.DPadUpSVG,
.DPadDownSVG,
.DPadLeftSVG,
.DPadRightSVG,
.LeftAnalogSVG,
.RightAnalogSVG{
    position: absolute;
    top: 0pt;
    left: 0pt;
    z-index: 1;
}
.GamepadConsoleComponent{
    width: fit-content;
}
table{
    background-color: var(--container-black);
    border: 1px solid var(--container-border);
    width: 100%;
}
td{
    padding: 10px;
    border: 1px solid var(--container-border);
    text-align: center;
}

.ButtonStateFalse{
    color: var(--white);
}
.ButtonStateTrue{
    color: var(--theme);
}
.ButtonStateSVGTrue{
    fill: var(--theme);
}
.ButtonStateSVGFalse{
    fill: var(--void);
}

.AnalogSVGContainer{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 15pt;
}
.JoystickContainer{
    background-color: var(--container-black);
    border: 1px solid var(--container-border);
    padding: 10px;
    width: 200pt;
}
.AnalogSVGBox{
    position: relative;
    background-color: var(--container-black);
    border: 1px solid var(--container-border);
    border-radius: 0%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 15pt;
}
.AnalogSVGCircle{
    position: absolute;
    fill: var(--void);
    stroke: var(--container-border);
    stroke-width: 2px;
}