.NavBarContainer {
    border: 2px solid var(--container-border);
    border-radius: 3px;
    background:
        linear-gradient(
            0deg, 
            rgba(50,50,50,0.5) 0%,
            rgba(50,50,50,1) 100%
        ),
        url("../assets/GUI/diagonal_pattern.svg");
    box-shadow: 0px 0px 15px 0px var(--container-border);
    height: 100%;
}
.NavBarButton {
    border: 1px solid var(--container-light);
    border-radius: 1px;
    color: var(--container-light);
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-size: 15px;
    transform: skewY(-1.5deg);
}
.NavBarButton:hover {
    border: 1px solid var(--theme);
    color: var(--theme);
    background-color: rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
    .NavBarContainer {
        display: flex;
        justify-content: space-evenly;
        background: linear-gradient(
            0deg, 
            rgba(50,50,50,1) 0%,
            rgba(50,50,50,1) 100%
        ); 
    }
    .NavBarButton {
        margin: 5px;
        transform: skewX(-2.0deg);
    }
}