.NavBarContainer {
    border: 1px solid var(--container-border);
    border-radius: 5px;
    background-color: var(--container-black);
    height: 100%;
}
.NavBarButton {
    border: 2px solid var(--void);
    border-radius: 3px;
    color: var(--white);
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    width: 100px;
    text-align: center;
}
.NavBarButton:hover {
    color: var(--theme);
}
@media (max-width: 600px) {
    .NavBarContainer {
        display: flex;
        justify-content: space-evenly;
    }
    .NavBarButton {
        margin: 5px;
    }
}