.RadiusPieContainer {
    display: flex;
    justify-content: center;
}

.RadiusPieContainer{
    position: relative;
    width: 300px;
    height: 300px;
}

.TransformBox1,
.TransformBox2,
.TransformBox3,
.TransformBox4,
.TransformBox5,
.TransformBox6{
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    position: absolute;
    top: 135px;
    left: 25px;
}
.TransformBox1 {
    justify-content: left;
    transform: rotate(300deg);
}
.TransformBox2 {
    justify-content: left;
    transform: rotate(0deg);
}
.TransformBox3 {
    justify-content: left;
    transform: rotate(60deg);
}
.TransformBox4 {
    justify-content: right;
    transform: rotate(300deg);
}
.TransformBox5 {
    justify-content: right;
    transform: rotate(0deg);
}
.TransformBox6 {
    justify-content: right;
    transform: rotate(60deg);
}

.MySVG {
    position: absolute;
    top: 0px;
    left: 0px;
    stroke: var(--void);
    fill: var(--container-black);
    z-index: -1;
}
.MyInnerSVG{
    position: absolute;
    top: 100px;
    left: 100px;
    stroke: var(--void);
    fill: var(--void);
    z-index: 1;
}
.Stroke1,
.Stroke2,
.Stroke3{
    position: absolute;
    top: 0px;
    left: 0px;
    stroke: var(--void);
}
.Stroke1 {
    transform: rotate(0deg);
}
.Stroke2 {
    transform: rotate(60deg);
}
.Stroke3 {
    transform: rotate(120deg);
}