.SerialNumberPageContainer{
    border: 2px dashed var(--container-border);
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 1.0s ease;
    /* always hide the scroll bar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.ProductPageContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

/* Product list make an exception to the naming convenction
"SerialNumberListContainer" instead of "ListContainer"
"SerialNumberPageContainer" instead of "PageContainer" */
.ProductListContainer,
.SerialNumberListContainer{
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 15px;
    width: 33%;
    /* 90 instead of 100 for consistent UI */
    min-height: 90%;
}
.SerialNumberCrudContainer{
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 15px;
    width: 34%;
    max-height: 100vh;
    transition: max-height 0.25s ease-out;
}
.SerialNumberCrudContainer.NotVisible{
    max-height: 0;
}

.ListHeaderDiv{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.ListDiv{
    height: 90%;
    padding-top: 20px;
    border-top: 1.5px solid var(--container-border);
    border-bottom: 1.5px solid var(--container-border);
    overflow-y: scroll;
    overflow-x: hidden;
}

.NoCrudAction{
    border: 1px solid var(--container-border);
    border-radius: 2px;
    height: 100%;
    padding: 25px;
    background: linear-gradient(
        0deg, 
        rgba(50,50,55,0.5) 0%,
        rgba(50,50,55,1) 100%
    );
    box-shadow: 0px 0px 15px 0px var(--container-border);
    color: var(--white);
}

.CreateButton{
    width: 90%;
    height: 40px;
    border: 1.5px solid var(--container-border);
    border-radius: 1px;
    color: var(--container-border);
    background: none;
}
.CreateButton:hover{
    border: 1.5px solid var(--theme);
    color: var(--theme);
    background-color: rgba(50,50,55,0.1);
}

/* bridge type will switch at 1200 instead */
@media (max-width: 1200px) {
    .SerialNumberPageContainer{
        border: none;
        flex-direction: row;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .ProductListContainer,
    .SerialNumberListContainer,
    .SerialNumberCrudContainer{
        min-width: 300pt;
    }
}
