p {
    margin: 0px;
}

.Button {
    border: none;
    background-color: var(--theme);
    color: var(--container-black);
    font-weight: 700;
    border-radius: 3px;
    margin-top: 10px;
    height: 40px;
}
.Button:hover {
    color: var(--white);
    box-shadow: none;
}
.Button:active {
    background-color: var(--theme);
}

.AuthenticationIsland {
    border: 1px solid var(--container-border);
    background-color: var(--container-black);
    border-radius: 5px;
    width: 500px;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
}

.SignUpDiv {
    display: flex;
}

.SignUpParagraph {
    padding-top: 8px;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
}

.Anchor {
    text-decoration: underline;
    color: var(--theme);
}
.Anchor:hover {
    color: var(--white);
}

.FormControl {
    background-color: var(--container-black);
    color: var(--white);
    border-radius: 3px;
    border: 2px solid var(--container-border);
}
.FormControl:focus {
    background-color: var(--void);
    color: var(--white);
    border: 2px solid var(--theme);
    box-shadow: none;
    border-radius: 3px;
}
.FormControl:hover {
    border: 2px solid var(--theme);
    box-shadow: 0px 0px 5px var(--theme);
}
.FormControl::placeholder {
    color: var(--white);
}
