.AppContainer {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
.MainViewContainer {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}
.NavBarContainer {
    width: 20vh;
    padding: 
        10px
        0px
        10px
        10px
    ;
}

@media (max-width: 600px) {
    .AppContainer {
        flex-direction: column;
    }
    .MainViewContainer {

    }
    .NavBarContainer {
        width: 100%;
        padding: 
        0px
        10px
        10px
        10px
    ;
    }
}