:root {
    /*
    theme: #ff5555
    white: #d2c8c8
    */
    --theme: rgb(255, 85, 85);
    --white: rgb(210, 200, 200);
    --grey: rgb(75, 75, 80);
    --container-black: rgb(50, 50, 60);
    --container-light: rgb(210, 200, 200);
    --container-border: rgb(75, 75, 85);
    --void: rgb(0, 0, 0);
    --immutable-text: rgba(210, 200, 200, 0.5);
}